.btn {
  padding: 33px 118px;
  background-image: linear-gradient(to top, #d0731b, #dc9322);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  @include phones {
    padding: 28px 92px;
  }

  &:hover {
    background-image: linear-gradient(to top, #dc9322, #d0731b);
    transition: .3s;
  }
}