.hero__hamburger {
  display: none;

  @include tablets {
    display: block;
  }
}

.hamburger-button {
  width: 24px;
  height: 20px;
  background-image: url(~images/icons/menu.png);
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}