.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 60px;
  color: #fff;
  line-height: 2;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #d0731b;
    transition: .3s;
  }
}

.nav__link {
  text-decoration: none;
}