.nav {
  max-width: 687px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: auto;
  color: #fff;
  line-height: 2;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: #d0731b;
    transition: .3s;
  }
}

.nav__link {
  text-decoration: none;
}

