.reviews-and-form {
  background-image: url(~images/content/reviews-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1375px;
  position: relative;
}