.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__avatar {
  margin-bottom: 80px;
  width: 200px;
  height: 200%;
}

.user__desc {
  width: 100%;
}

.user__desc-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  line-height: 1.88;
  color: #fff;
}

.user__key,
.user__value {
  width: 50%;
}

.user__key {
  opacity: .15;
}
